.banner-container {
    display: flex;
    height: 100vh;
}

.banner {
    height: 100%;
    background: url("../image/village-1.jpg") no-repeat fixed center;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash {
    color: white;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.splash-title {
    font-size: 5em;
}

.splash-sub {
    font-size: 1.5em;
}

.logo {
    background: url("../icon/terraforged.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    width: 10em;
    height: 10em;
}