body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "Nunito", sans-serif;
}

footer {
    height: 20em;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 0.25em solid #444;
    border-bottom: 5em solid #222;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color .1s;
}

footer a:hover {
    color: #009de6;
    transition: color .1s;
}

sub {
    font-size: 0.9em;
}

.link {
    cursor: pointer;
}