body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: "Nunito", sans-serif;
}

footer {
    color: #666;
    font-size: 0.9em;
    height: 20em;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 0.25em solid #444;
    border-bottom: 5em solid #222;
}

footer img {
    height: 4em;
}

footer a {
    color: #666;
    text-decoration: none;
    transition: color .1s;
}

footer a:hover {
    color: #009de6;
    transition: color .1s;
}

.link {
    color: #009de6;
}

.tiny {
    padding: 1em;
    font-size: 0.8em;
}